body {
    margin: 0;
}
.container {
    /* padding: 20px; */
}
.yellowDiv {
    background: #ffff00;
    width: 640px;
    height: 480px;
    /* margin: 0 auto; */
}
.blueDiv {
    background: #0000ff;
    width: 100px;
    height: 120px;
    cursor: move;
    position: absolute;
    top: 100px;
    left: 100px;
}
.resizer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #E91E63;
}